<div class="sm:ml-64 bg-neutral-200">
    <main class="max-w-screen-sm mx-auto py-16 px-6 min-h-screen bg-neutral-100">
        <section>
            <h1 class="font-bold text-xl mb-3">Account</h1>
            <input type="text" class="input w-full" [value]="loggedUser?.email" readonly>

        </section>

        <section class="mt-8">
            <h1 class="font-bold text-xl mb-3">Pages</h1>

            <div class="flex flex-col gap-2">
                @for (page of loggedUser?.pages; track $index) {
                <div class="flex justify-between items-center gap-2 bg-white border p-2 rounded-lg overflow-x-auto"
                    [ngClass]="{'outline outline-2 outline-purple-700': page.id == targetPage?.id}">
                    <div class="flex items-center gap-2">
                        @if (page.pictureUrl) {
                        <img [src]="page.pictureUrl" [alt]="page.url + ' profile picture'"
                            class="aspect-square min-w-10 w-10 object-cover rounded-full">

                        } @else {
                        <div
                            class="bg-gray-500 aspect-square w-10 rounded-full flex justify-center items-center text-base text-white font-medium">
                            {{page.url.substring(0,1).toLocaleUpperCase()}}</div>
                        }
                        <span>{{'@' + page.url}}</span>
                    </div>


                    <button type="button" class="p-3 hover:bg-neutral-100 rounded-lg"
                        (click)="onOpenPageOptionsModal(page)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-three-dots" viewBox="0 0 16 16">
                            <path
                                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
                        </svg>
                    </button>


                </div>
                }

            </div>

        </section>

        @if (openPageOptionsModal) {
        <!-- Modal -->
        <div class="modal">
            <div class="modal-content">

                <div class="bg-white p-5 rounded-3xl flex flex-col gap-4 max-w-lg w-full">
                    <div class="flex justify-between items-center gap-2">
                        <h2 class="text-lg font-medium">Page options</h2>
                        <button type="button" (click)="openPageOptionsModal = false" [disabled]="this.disableForm"
                            class="hover:bg-slate-200 rounded-md p-1"> <svg xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg></button>

                    </div>

                    <form [formGroup]="changePageUrlForm" (submit)="onChangePageUrlFormSubmit()"
                        class="flex flex-col gap-2">
                        @if (changePageUrlForm_submitFeedbackMessage) {
                        <div class="flex items-center p-4 text-red-800 border border-red-300 rounded-lg bg-red-50"
                            role="alert">
                            <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                            </svg>
                            <span class="sr-only">Info</span>
                            <div class="text-sm">
                                <span class="font-medium">Error: </span> {{changePageUrlForm_submitFeedbackMessage}}
                            </div>
                        </div>
                        }
                        <div>
                            <div class="relative">
                                <input type="text" formControlName="url" placeholder="URL" class="input w-full"
                                    style="padding-left: 10.25rem;"
                                    [ngClass]="{'invalid-input': (changePageUrlForm.get('url')?.hasError('minlength') || changePageUrlForm.get('url')?.hasError('maxlength') || changePageUrlForm.get('url')?.hasError('invalidCharacterPattern') || changePageUrlForm.get('url')?.hasError('invalidDotAtEdges')) && changePageUrlForm.get('url')?.touched}">
                                <span
                                    class="absolute left-4 top-1/2 transform -translate-y-1/2 text-gray-500">linkplaza.com/page/</span>
                            </div>
                            @if (changePageUrlForm.get('url')?.hasError('minlength') &&
                            changePageUrlForm.get('url')?.touched)
                            {
                            <p class="invalid-input-message">* URL cannot be shorter than 3 characters.</p>
                            }
                            @if (changePageUrlForm.get('url')?.hasError('maxlength') &&
                            changePageUrlForm.get('url')?.touched)
                            {
                            <p class="invalid-input-message">* URL cannot be longer than 64 characters.</p>
                            }
                            @if (changePageUrlForm.get('url')?.hasError('invalidCharacterPattern') &&
                            changePageUrlForm.get('url')?.touched)
                            {
                            <p class="invalid-input-message">* URL may only contain letters, numbers, underscores, and
                                periods.
                            </p>
                            }
                            @if (changePageUrlForm.get('url')?.hasError('invalidDotAtEdges') &&
                            changePageUrlForm.get('url')?.touched)
                            {
                            <p class="invalid-input-message">* URL cannot start or end with a period.</p>
                            }
                        </div>

                        <button type="submit" class="button text-lg w-full"
                            [disabled]="this.changePageUrlForm.invalid || this.disableForm">Change URL</button>
                    </form>

                    <button type="button" class="button-secondary text-lg w-full" (click)="switchPage()"
                        [disabled]="this.disableForm">Switch to this
                        page</button>

                    <button type="button" class="button-danger text-lg w-full" (click)="deletePage()"
                        [disabled]="this.disableForm">Delete page</button>
                </div>

            </div>
        </div>

        }

    </main>

</div>