.banner-new-page {
  background-image: url("https://assets.production.linktr.ee/auth/1923/media/banner-register-social-desktop.5099568a6eddc615695e.png");
  background-position: center;
  background-size: cover;
}
