<section class="mt-10">

    <div class="flex flex-col gap-4 overflow-auto p-1">
        <div *ngFor="let customLink of page.customLinks; let outerIndex = index"
            class="flex justify-between items-center gap-3">

            <select (change)="setCustomLinkPosition(page, customLink, $event)" [disabled]="disableForm" class="m-1">
                <option *ngFor="let optionLink of page.customLinks; let innerIndex = index"
                    [selected]="outerIndex === innerIndex" [value]="innerIndex"> {{ innerIndex + 1 }}
                </option>
            </select>

            <button class="flex items-center gap-2 hover:bg-neutral-200 p-3 rounded-xl w-full overflow-auto text-start"
                (click)="onOpenEditCustomLinkModal(customLink)" [disabled]="this.disableForm">

                <svg xmlns="http://www.w3.org/2000/svg" class="min-w-8 w-8" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                    <path
                        d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z" />
                </svg>
                <p class="text-sm sm:text-lg font-medium">{{customLink.title}}</p>
            </button>

            <label class="cursor-pointer">
                <input type="checkbox" [value]="customLink.active" class="sr-only peer" [checked]="customLink.active"
                    (click)="toggleCustomLinkActiveStatus(customLink)" [disabled]="disableForm">
                <div
                    class="relative w-11 h-6 bg-gray-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-green-900">
                </div>
            </label>

        </div>

    </div>

    <button type="button" class="button w-full mt-5 text-lg sm:text-xl" (click)="openAddCustomLinkModal = true"
        [disabled]="this.disableForm">Add custom link</button>

</section>

@if (openAddCustomLinkModal) {
<!-- Modal -->
<div class="modal">
    <div class="modal-content">

        <form [formGroup]="addCustomLinkForm" (submit)="onAddCustomLinkFormSubmit(this.page.id)"
            class="bg-white p-5 rounded-3xl flex flex-col gap-4 max-w-lg w-full">
            <div class="flex justify-between items-center gap-2">
                <h2 class="text-lg font-medium">Add custom link</h2>
                <button type="button" (click)="openAddCustomLinkModal = false" [disabled]="this.disableForm"
                    class="hover:bg-slate-200 rounded-md p-1"> <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg></button>

            </div>
            @if (addCustomLinkFormSubmitFeedbackMessage) {
            <div class="alert-error flex items-center" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div class="text-sm">
                    <span class="font-medium">Error: </span> {{addCustomLinkFormSubmitFeedbackMessage}}
                </div>
            </div>
            }

            <div>
                <input type="text" placeholder="Enter URL" formControlName="url" class="input w-full"
                    [ngClass]="{'invalid-input': addCustomLinkForm.get('url')?.hasError('maxlength') || 
                        addCustomLinkForm.get('url')?.hasError('invalidUrl') && addCustomLinkForm.get('url')?.touched}">
                @if (addCustomLinkForm.get('url')?.hasError('invalidUrl') &&
                addCustomLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* Please enter a valid URL.</p>
                }
                @if (addCustomLinkForm.get('url')?.hasError('maxlength') &&
                addCustomLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* URL cannot be longer than 3200 characters.</p>
                }

            </div>

            <div>
                <input type="text" placeholder="Enter title" formControlName="title" class="input w-full"
                    [ngClass]="{'invalid-input': addCustomLinkForm.get('title')?.hasError('maxlength') && addCustomLinkForm.get('title')?.touched}">
                @if (addCustomLinkForm.get('title')?.hasError('maxlength') &&
                addCustomLinkForm.get('title')?.touched)
                {
                <p class="invalid-input-message">* Title cannot be longer than 128 characters.</p>
                }

            </div>

            <button type="submit" class="button w-full text-lg"
                [disabled]="this.addCustomLinkForm.invalid || this.disableForm">Add</button>
        </form>

    </div>
</div>

}

@if (openEditCustomLinkModal) {
<!-- Modal -->
<div class="modal">
    <div class="modal-content">

        <form [formGroup]="editCustomLinkForm" (submit)="onEditCustomLinkFormSubmit()"
            class="bg-white p-5 rounded-3xl flex flex-col gap-4 max-w-lg w-full">
            <div class="flex justify-between items-center gap-2">
                <h2 class="text-lg font-medium">Edit custom link</h2>
                <button type="button" (click)="openEditCustomLinkModal = false" [disabled]="this.disableForm"
                    class="hover:bg-slate-200 rounded-md p-1"> <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg></button>

            </div>

            <div>
                <input type="text" placeholder="Enter URL" formControlName="url" class="input w-full"
                    [ngClass]="{'invalid-input': editCustomLinkForm.get('url')?.hasError('maxlength') || 
                            editCustomLinkForm.get('url')?.hasError('invalidUrl') && editCustomLinkForm.get('url')?.touched}">
                @if (editCustomLinkForm.get('url')?.hasError('invalidUrl') &&
                editCustomLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* Please enter a valid URL.</p>
                }
                @if (editCustomLinkForm.get('url')?.hasError('maxlength') &&
                editCustomLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* URL cannot be longer than 3200 characters.</p>
                }

            </div>

            <div>
                <input type="text" placeholder="Enter title" formControlName="title" class="input w-full"
                    [ngClass]="{'invalid-input': editCustomLinkForm.get('title')?.hasError('maxlength') && editCustomLinkForm.get('title')?.touched}">
                @if (editCustomLinkForm.get('title')?.hasError('maxlength') &&
                editCustomLinkForm.get('title')?.touched)
                {
                <p class="invalid-input-message">* Title cannot be longer than 128 characters.</p>
                }

            </div>

            <button type="submit" class="button w-full text-lg"
                [disabled]="this.editCustomLinkForm.invalid || this.disableForm">Edit</button>
            <button type="button" class="button-secondary w-full text-lg" [disabled]="this.disableForm"
                (click)="removeCustomLink()">Remove</button>
        </form>

    </div>
</div>

}