<div class="sm:ml-64 min-h-screen bg-neutral-100">
    @if (targetPage) {

    <header class="px-4 pb-4 pt-8 flex flex-col sm:flex-row sm:justify-between sm:items-center">
        <h1 class="font-bold text-2xl sm:text-3xl mb-3">Analytics</h1>
        <select (change)="selectDateRange($event)" [disabled]="disableForm"
            class="p-3 rounded-lg disabled:cursor-not-allowed disabled:bg-neutral-200 disabled:text-neutral-400">
            <option value="7" selected>Last 7 days</option>
            <option value="28">Last 28 days</option>
            <option value="90">Last 90 days</option>
        </select>

    </header>

    <main class="px-4 pb-4 space-y-4">
        <section class="bg-white rounded-2xl p-6 sm:p-8">
            <h2 class="text-xl sm:text-2xl font-semibold mb-4">Lifetime</h2>
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-2">
                @if (chartOptions) {
                <div><strong>{{totalViews}}</strong> views</div>
                <div><strong>{{totalClicks}}</strong> clicks</div>
                <div><strong>{{totalUniqueViews}}</strong> unique views</div>
                <div><strong>{{totalUniqueClicks}}</strong> unique clicks</div>
                } @else {
                <div class="h-6 rounded-lg bg-neutral-200 animate-pulse">
                </div>
                <div class="h-6 rounded-lg bg-neutral-200 animate-pulse">
                </div>
                <div class="h-6 rounded-lg bg-neutral-200 animate-pulse">
                </div>
                <div class="h-6 rounded-lg bg-neutral-200 animate-pulse">
                </div>
                }
            </div>

        </section>

        <section class="bg-white rounded-2xl p-6 sm:p-8 ">
            <h2 class="text-xl sm:text-2xl font-semibold mb-8">Activity</h2>
            <div class="overflow-auto">
                @if (chartOptions) {
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                    style="width: 100%; height: 500px; display: block;" class="min-w-64" />
                } @else {
                <div role="status" class="w-full h-[500px] rounded-lg bg-neutral-200 animate-pulse">
                    <span class="sr-only">Loading...</span>
                </div>
                }

            </div>

        </section>

        <section class="bg-white rounded-2xl p-6 sm:p-8 ">
            <h2 class="text-xl sm:text-2xl font-semibold mb-4">Custom links</h2>

            <div class="h-80 space-y-3 overflow-auto">
                @for (customLinkAnalytic of customLinkAnalytics; track $index) {
                <div class="flex items-center justify-between gap-6 p-4 border rounded-xl max-sm:text-sm overflow-auto">
                    <div class="flex items-center gap-3">
                        <div class="p-3 sm:p-4 rounded-xl bg-neutral-100"><svg xmlns="http://www.w3.org/2000/svg"
                                class="w-6 h-6 sm:w-8 sm:h-8" fill="currentColor" viewBox="0 0 16 16">
                                <path
                                    d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                                <path
                                    d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z" />
                            </svg></div>
                        <p>{{customLinkAnalytic.customLink.title}}</p>
                    </div>
                    <div class="flex flex-col text-nowrap">
                        <span><strong>{{customLinkAnalytic.clicks}}</strong> clicks</span>
                        <span><strong>{{customLinkAnalytic.uniqueClicks}}</strong> unique clicks</span>
                    </div>
                </div>
                }
            </div>
        </section>

    </main>

    } @else {
    <div class="py-16 px-6 ">
        <div class="flex justify-center">
            <div>
                <h1>You don't have any pages.</h1>
                <a routerLink="/new-page" class="text-purple-700 underline font-medium">Create a page now.</a>
            </div>

        </div>
    </div>

    }




</div>