@if (authUser && targetPage) {

<div class="bg-gradient-to-r from-sky-500 to-indigo-500">
    <main class="max-w-screen-sm mx-auto py-16 px-6 min-h-screen bg-neutral-100">
        <!-- Profile info section -->
        <section class="flex flex-col items-center text-center">
            <div class="mb-4">
                @if (targetPage.pictureUrl) {
                <img [src]="targetPage.pictureUrl" [alt]="targetPage.url + ' profile picture'"
                    class="aspect-square w-24 object-cover rounded-full">

                } @else {
                <div
                    class="bg-gray-500 aspect-square w-24 rounded-full flex justify-center items-center text-3xl text-white font-medium">
                    {{targetPage.url.substring(0,1).toLocaleUpperCase()}}</div>
                }
            </div>

            <h1 class="text-xl sm:text-2xl font-bold">{{targetPage.title ? targetPage.title : '@' + targetPage.url}}
            </h1>

            <p class="text-base sm:text-lg font-medium text-balance mt-1">{{targetPage.bio? targetPage.bio : 'No bio'}}
            </p>

            <button type="button" class="button w-full mt-5 text-lg sm:text-xl"
                (click)="openEditPageModal = true">Edit</button>
        </section>

        <!-- Social links section -->
        <app-social-links [page]="targetPage" />

        <!-- Custom links section -->
        <app-custom-links [page]="targetPage" />

        <!-- Customization section -->
        <app-customization [page]="targetPage" />

        @if (openEditPageModal) {
        <!-- Modal -->
        <div class="modal">
            <div class="modal-content">

                <form [formGroup]="editPageForm" (submit)="onEditPageFormSubmit(this.targetPage.id)"
                    class="bg-white p-5 rounded-3xl flex flex-col gap-4 max-w-lg w-full">
                    <div class="flex justify-between items-center gap-2">
                        <h2 class="text-lg font-medium">Name, bio and picture to display</h2>
                        <button type="button" (click)="openEditPageModal = false" [disabled]="this.disableForm"
                            class="hover:bg-slate-200 rounded-md p-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-7">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg></button>

                    </div>
                    @if (editPageFormSubmitFeedbackMessage) {
                    <div class="flex items-center p-4 text-red-800 border border-red-300 rounded-lg bg-red-50"
                        role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path
                                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                            <span class="font-medium">Error: </span> {{editPageFormSubmitFeedbackMessage}}
                        </div>
                    </div>
                    }
                    <div>
                        <input type="text" placeholder="Enter title" formControlName="title" class="input w-full"
                            [ngClass]="{'invalid-input': editPageForm.get('title')?.hasError('maxlength') && editPageForm.get('title')?.touched}">
                        @if (editPageForm.get('title')?.hasError('maxlength') && editPageForm.get('title')?.touched)
                        {
                        <p class="invalid-input-message">* Title cannot be longer than 32 characters.</p>
                        }
                    </div>

                    <div>
                        <textarea placeholder="Enter bio" formControlName="bio" class="input w-full min-h-32 max-h-64"
                            [ngClass]="{'invalid-input': editPageForm.get('bio')?.hasError('maxlength') && editPageForm.get('bio')?.touched}"></textarea>
                        @if (editPageForm.get('bio')?.hasError('maxlength') && editPageForm.get('bio')?.touched)
                        {
                        <p class="invalid-input-message">* Bio cannot be longer than 256 characters.</p>
                        }
                    </div>

                    <div>
                        <input type="text" placeholder="Enter picture URL" formControlName="pictureUrl"
                            class="input w-full"
                            [ngClass]="{'invalid-input': editPageForm.get('pictureUrl')?.hasError('maxlength') && editPageForm.get('pictureUrl')?.touched}">
                        @if (editPageForm.get('pictureUrl')?.hasError('maxlength') &&
                        editPageForm.get('pictureUrl')?.touched)
                        {
                        <p class="invalid-input-message">* URL cannot be longer than 3200 characters.</p>
                        }
                    </div>

                    <button type="submit" class="button w-full text-lg font-semibold"
                        [disabled]="this.editPageForm.invalid || this.disableForm">Save</button>
                </form>

            </div>
        </div>

        }

    </main>

</div>
}