.banner-signin {
  background-image: url("https://assets.production.linktr.ee/auth/1923/media/banner-login-desktop.854036832e9da2348d8e.png");
  background-position: center;
  background-size: cover;
}
