<section class="mt-10">

    <div class="flex flex-col gap-4 overflow-auto p-1">
        <div *ngFor="let socialLink of page.socialLinks; let outerIndex = index"
            class="flex justify-between items-center gap-3">

            <select (change)="setSocialLinkPosition(page, socialLink, $event)" [disabled]="disableForm" class="m-1">
                <option *ngFor="let optionLink of page.socialLinks; let innerIndex = index"
                    [selected]="outerIndex === innerIndex" [value]="innerIndex"> {{ innerIndex + 1 }}
                </option>
            </select>

            <button class="flex items-center gap-2 hover:bg-neutral-200 p-3 rounded-xl w-full"
                (click)="onOpenEditSocialLinkModal(socialLink)" [disabled]="disableForm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="min-w-8 w-8" viewBox="0 0 16 16">
                    <path [attr.d]="socialLink.socialPlatform.icon"></path>
                </svg>
                <p class="text-sm sm:text-lg">{{socialLink.socialPlatform.name}}</p>
            </button>

            <label class="cursor-pointer">
                <input type="checkbox" [value]="socialLink.active" class="sr-only peer" [checked]="socialLink.active"
                    (click)="toggleSocialLinkActiveStatus(socialLink)" [disabled]="disableForm">
                <div
                    class="relative w-11 h-6 bg-gray-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-green-900">
                </div>
            </label>

        </div>

    </div>

    <button type="button" class="button w-full mt-5 text-lg sm:text-xl" (click)="onOpenAddSocialLinkModal()"
        [disabled]="disableForm">Add social link</button>

</section>

@if (openAddSocialLinkModal) {
<!-- Modal -->
<div class="modal">
    <div class="modal-content">

        <form [formGroup]="addSocialLinkForm" (submit)="onAddSocialLinkFormSubmit(page.id)"
            class="bg-white p-5 rounded-3xl flex flex-col gap-4 max-w-lg w-full">
            <div class="flex justify-between items-center gap-2">
                <h2 class="text-lg font-medium">Add social link</h2>
                <button type="button" (click)="openAddSocialLinkModal = false" [disabled]="disableForm"
                    class="hover:bg-slate-200 rounded-md p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </button>

            </div>
            @if (addSocialLinkFormSubmitFeedbackMessage) {
            <div class="alert-error flex items-center" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div class="text-sm">
                    <span class="font-medium">Error: </span> {{addSocialLinkFormSubmitFeedbackMessage}}
                </div>
            </div>
            }

            <div>
                <p class="mb-2">Select social platform:</p>

                <div class="w-full h-64 flex flex-col gap-2 overflow-auto p-1">

                    @if (!socialPlatforms) {
                    <app-loading [small]="false" />

                    } @else {

                    @for (socialPlatform of socialPlatforms; track $index) {
                    <button type="button" class="flex items-center gap-2 hover:bg-neutral-200 p-3 rounded-xl w-full"
                        (click)="addSocialLinkForm.get('socialPlatform')?.setValue(socialPlatform)"
                        [ngClass]="{'bg-neutral-200': addSocialLinkForm.get('socialPlatform')?.value == socialPlatform}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-8" viewBox="0 0 16 16">
                            <path [attr.d]="socialPlatform.icon"></path>
                        </svg>
                        <p class="text-sm sm:text-lg">{{socialPlatform.name}}</p>
                    </button>
                    }

                    }

                </div>
            </div>


            <div>
                <input type="text" placeholder="Enter your username" formControlName="url" class="input w-full"
                    [ngClass]="{'invalid-input': addSocialLinkForm.get('url')?.hasError('maxlength') || 
                        addSocialLinkForm.get('url')?.hasError('invalidUrl') && addSocialLinkForm.get('url')?.touched}">
                @if (addSocialLinkForm.get('url')?.hasError('invalidUrl') &&
                addSocialLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* Please enter a valid URL.</p>
                }
                @if (addSocialLinkForm.get('url')?.hasError('maxlength') &&
                addSocialLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* URL cannot be longer than 3200 characters.</p>
                }

            </div>

            @if (addSocialLinkForm.get('socialPlatform')?.value) {
            <p class="text-sm overflow-auto">{{addSocialLinkForm.get('socialPlatform')?.value.domainUrl +
                addSocialLinkForm.get('url')?.value}}</p>
            }

            <button type="submit" class="button w-full text-lg"
                [disabled]="addSocialLinkForm.invalid || disableForm || disableAddSocialLinkForm">
                @if (disableAddSocialLinkForm) {
                <app-loading [small]="true" />
                } @else {
                Add
                }
            </button>
        </form>

    </div>
</div>

}

@if (openEditSocialLinkModal) {
<!-- Modal -->
<div class="modal">
    <div class="modal-content">

        <form [formGroup]="editSocialLinkForm" (submit)="onEditSocialLinkFormSubmit()"
            class="bg-white p-5 rounded-3xl flex flex-col gap-4 max-w-lg w-full">
            <div class="flex justify-between items-center gap-2">
                <h2 class="text-lg font-medium">Edit social link</h2>
                <button type="button" (click)="openEditSocialLinkModal = false" [disabled]="disableForm"
                    class="hover:bg-slate-200 rounded-md p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </button>

            </div>

            <div>
                <input type="text" placeholder="Enter your username" formControlName="url" class="input w-full"
                    [ngClass]="{'invalid-input': editSocialLinkForm.get('url')?.hasError('maxlength') || 
                            editSocialLinkForm.get('url')?.hasError('invalidUrl') && editSocialLinkForm.get('url')?.touched}">
                @if (editSocialLinkForm.get('url')?.hasError('invalidUrl') &&
                editSocialLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* Please enter a valid URL.</p>
                }
                @if (editSocialLinkForm.get('url')?.hasError('maxlength') &&
                editSocialLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* URL cannot be longer than 3200 characters.</p>
                }

            </div>

            @if (editSocialLinkForm.get('socialLink')?.value) {
            <p class="text-sm overflow-auto">{{editSocialLinkForm.get('socialLink')?.value.socialPlatform.domainUrl + editSocialLinkForm.get('url')?.value}}</p>
            }

            <button type="submit" class="button w-full text-lg"
                [disabled]="editSocialLinkForm.invalid || disableForm || disableEditSocialLinkForm">
                @if (disableEditSocialLinkForm) {
                <app-loading [small]="true" />
                } @else {
                Edit
                }
            </button>
            <button type="button" class="button-secondary w-full text-lg" [disabled]="disableForm || disableRemoveSocialLinkButton"
                (click)="removeSocialLink()">
                @if (disableRemoveSocialLinkButton) {
                <app-loading [small]="true" />
                } @else {
                Remove
                }
            </button>
        </form>

    </div>
</div>

}