<section class="mt-10">

    <div class="flex flex-col gap-4 overflow-auto p-1">
        <div *ngFor="let socialLink of page.socialLinks; let outerIndex = index"
            class="flex justify-between items-center gap-3">

            <select (change)="setSocialLinkPosition(page, socialLink, $event)" [disabled]="disableForm" class="m-1">
                <option *ngFor="let optionLink of page.socialLinks; let innerIndex = index"
                    [selected]="outerIndex === innerIndex" [value]="innerIndex"> {{ innerIndex + 1 }}
                </option>
            </select>

            <button class="flex items-center gap-2 hover:bg-neutral-200 p-3 rounded-xl w-full"
                (click)="onOpenEditSocialLinkModal(socialLink)" [disabled]="this.disableForm">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-8" viewBox="0 0 16 16">
                    <path [attr.d]="socialLink.socialPlatform.icon"></path>
                </svg>
                <p class="text-sm sm:text-lg font-medium">{{socialLink.socialPlatform.name}}</p>
            </button>

            <label class="cursor-pointer">
                <input type="checkbox" [value]="socialLink.active" class="sr-only peer" [checked]="socialLink.active"
                    (click)="toggleSocialLinkActiveStatus(socialLink)" [disabled]="disableForm">
                <div
                    class="relative w-11 h-6 bg-gray-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-green-900">
                </div>
            </label>

        </div>

    </div>
    
    <button type="button" class="button w-full mt-5 text-lg sm:text-xl" (click)="onOpenAddSocialLinkModal()"
        [disabled]="this.disableForm">Add social link</button>

</section>

@if (openAddSocialLinkModal) {
<!-- Modal -->
<div class="modal">
    <div class="modal-content">

        <form [formGroup]="addSocialLinkForm" (submit)="onAddSocialLinkFormSubmit(this.page.id)"
            class="bg-white p-5 rounded-3xl flex flex-col gap-4 max-w-lg w-full">
            <div class="flex justify-between items-center gap-2">
                <h2 class="text-lg font-medium">Add social link</h2>
                <button type="button" (click)="openAddSocialLinkModal = false" [disabled]="this.disableForm"
                    class="hover:bg-slate-200 rounded-md p-1"> <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg></button>

            </div>
            @if (addSocialLinkFormSubmitFeedbackMessage) {
            <div class="flex items-center p-4 text-red-800 border border-red-300 rounded-lg bg-red-50" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div class="text-sm">
                    <span class="font-medium">Error: </span> {{addSocialLinkFormSubmitFeedbackMessage}}
                </div>
            </div>
            }

            <div>
                <p class="mb-2">Select social platform:</p>

                <div class="w-full h-64 flex flex-col gap-2 overflow-auto p-1">

                    @if (!socialPlatforms) {
                    <div role="status" class="flex justify-center">
                        <svg aria-hidden="true" class="w-10 h-10 text-gray-200 animate-spin fill-purple-700"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="currentColor" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentFill" />
                        </svg>
                        <span class="sr-only">Loading...</span>
                    </div>

                    } @else {
                    @for (socialPlatform of socialPlatforms; track $index) {
                    <button type="button" class="flex items-center gap-2 hover:bg-neutral-200 p-3 rounded-xl w-full"
                        (click)="addSocialLinkForm.get('socialPlatform')?.setValue(socialPlatform)"
                        [ngClass]="{'bg-neutral-200': addSocialLinkForm.get('socialPlatform')?.value == socialPlatform}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-8" viewBox="0 0 16 16">
                            <path [attr.d]="socialPlatform.icon"></path>
                        </svg>
                        <p class="text-sm sm:text-lg font-medium">{{socialPlatform.name}}</p>
                    </button>
                    }
                    }

                </div>
            </div>


            <div>
                <input type="text" placeholder="Enter your username" formControlName="url" class="input w-full"
                    [ngClass]="{'invalid-input': addSocialLinkForm.get('url')?.hasError('maxlength') || 
                        addSocialLinkForm.get('url')?.hasError('invalidUrl') && addSocialLinkForm.get('url')?.touched}">
                @if (addSocialLinkForm.get('url')?.hasError('invalidUrl') &&
                addSocialLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* Please enter a valid URL.</p>
                }
                @if (addSocialLinkForm.get('url')?.hasError('maxlength') &&
                addSocialLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* URL cannot be longer than 3200 characters.</p>
                }

            </div>

            @if (addSocialLinkForm.get('socialPlatform')?.value) {
            <p class="text-sm overflow-auto">{{addSocialLinkForm.get('socialPlatform')?.value.domainUrl +
                addSocialLinkForm.get('url')?.value}}</p>
            }

            <button type="submit" class="button w-full text-lg"
                [disabled]="this.addSocialLinkForm.invalid || this.disableForm">Add</button>
        </form>

    </div>
</div>

}

@if (openEditSocialLinkModal) {
<!-- Modal -->
<div class="modal">
    <div class="modal-content">

        <form [formGroup]="editSocialLinkForm" (submit)="onEditSocialLinkFormSubmit()"
            class="bg-white p-5 rounded-3xl flex flex-col gap-4 max-w-lg w-full">
            <div class="flex justify-between items-center gap-2">
                <h2 class="text-lg font-medium">Edit social link</h2>
                <button type="button" (click)="openEditSocialLinkModal = false" [disabled]="this.disableForm"
                    class="hover:bg-slate-200 rounded-md p-1"> <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg></button>

            </div>

            <div>
                <input type="text" placeholder="Enter your username" formControlName="url" class="input w-full"
                    [ngClass]="{'invalid-input': editSocialLinkForm.get('url')?.hasError('maxlength') || 
                            editSocialLinkForm.get('url')?.hasError('invalidUrl') && editSocialLinkForm.get('url')?.touched}">
                @if (editSocialLinkForm.get('url')?.hasError('invalidUrl') &&
                editSocialLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* Please enter a valid URL.</p>
                }
                @if (editSocialLinkForm.get('url')?.hasError('maxlength') &&
                editSocialLinkForm.get('url')?.touched)
                {
                <p class="invalid-input-message">* URL cannot be longer than 3200 characters.</p>
                }

            </div>

            @if (editSocialLinkForm.get('socialLink')?.value) {
            <p class="text-sm overflow-auto">{{editSocialLinkForm.get('socialLink')?.value.socialPlatform.domainUrl
                +
                editSocialLinkForm.get('url')?.value}}</p>
            }

            <button type="submit" class="button w-full text-lg"
                [disabled]="this.editSocialLinkForm.invalid || this.disableForm">Edit</button>
            <button type="button" class="button-secondary w-full text-lg" [disabled]="this.disableForm"
                (click)="removeSocialLink()">Remove</button>
        </form>

    </div>
</div>

}